{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Choose training parameters for your model: {% endblock %}</h1>

<form method="post">
    <div class="epochs">
        <label for="epochs">Number of epochs:</label>
        <input  name="epochs" type="number"
               placeholder="" class="form-control"
               value="{{ request.form['epochs'] }}"
               min="1" max="1000"></input>
    </div>
    <div class="norm">
        <input name="norm" type="checkbox"
               placeholder=""
               value="{{ request.form['norm'] }}">Normalize data</input>
    </div>
    <button style="margin-top:1em" type="submit" class="btn btn-primary">Train</button>
</form>
Note that is might take some time. 100 epochs of training will take a few minutes.
    <div>
        <a href = "/train"><button style="margin-top:1em; margin-bottom:1em" class="btn btn-primary">Clear</button></a>
    </div>


    <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in messages %}
        <h2>{{message}}</h2>
    {% endfor %}
    {% if pic %}
        <img src="{{ pic }}"></img>
    {% endif %}
{% endblock %}
